body {
    padding: 0;
    margin: 0;
    background-color: rgb(245, 245, 245);
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: 70%;
    height: 100%;
}

.container-searchbar {
    display:flex;
    flex-direction: column;
}

.container-searchbar .searchbar {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    box-sizing: border-box;
    height: 55px;
    width: 260px;
    padding: 10px 10px 10px 15px;
    color: #555;
    font-weight: normal;
    font-size: 0.9em;
    letter-spacing: 1.4px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.list-items {
    margin-top: 20px;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.item {
    height: 50px;
    width: 300px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-bottom: thin solid rgb(220, 220, 220);
    display:flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    color: #555;
    letter-spacing: 1.6px;
    font-size: 1.1em;
    font-weight: bold;
    transition: transform 200ms ease-in;
}

.item:hover {
    transform: scale(1.04);
}